.user_card {
  position: fixed;
  width: 673px !important;
  background: white;
  z-index: 1;

  .inner_wrapper {
    border: 1px solid lightgray;
    border-top: 0;
    margin: 0;

    .arrow_wrapper {
      position: relative;
      top: 20px;
      left: 20px;

      svg {
        height: 30px;
        fill: rgb(29, 161, 242)
      }
    }


    .headline {
      font-size: 19px;
      font-weight: bold;
      margin-bottom: 4px;
      margin-top: 10px;
    }

    .text_muted {
      color: rgb(101, 119, 134);
      font-size: 13px;
      font-weight: 300;
      margin-bottom: 8px;
    }
  }
}

.profile {
  .card {
    border: 1px solid rgb(230, 236, 240);
    padding: 7px 0;

    &:hover {
      cursor: pointer;
      background: rgba(189, 215, 231, 0.1);
    }
  }
}

.tabs_generic {
  font-size: 15px;
  font-weight: bold;

  .media_like_row {
    margin-right: -7px;
  }

  

  .tabs_bottom_border {
    position: relative;
    bottom: 15px;
  }
}

.media_btn {
  background-color: rgb(29, 161, 242);
  border-radius: 25px;
  padding: 8px 13px;
  border: unset;
  color: white;
  font-size: 18px;
  font-weight: bold;

  &:active,
  &:focus {
    outline: none;
  }
}