.profile {
    .card {
        border: 1px solid rgb(230, 236, 240);
        padding: 7px 0;

        &:hover {
            cursor: pointer;
            background: rgba(189, 215, 231, 0.1);
        }
    }
}