@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tweet-modal {
  .modal-dialog {
    .modal-content {
      border: unset;
      width: 600px;
      margin-left: -50px;
      .close-btn-wrapper {
        padding: 10px;
        height: 50px;
        svg {
          height: 40px;
          padding: 10px;
          fill: rgba(29, 161, 242, 1);

          &:hover {
            background: rgba(29, 161, 242, 0.1);
            border-radius: 50%;
            padding: 10px;
            cursor: pointer;
          }
        }
        hr {
          margin-top: 5px;
        }
      }
      input {
        font-size: 19px;
        font-weight: 400;
        &:focus,
        &:active {
          outline: 0;
          box-shadow: unset;
        }
      }
      ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        // color: pink;
        font-size: 19px;
        font-weight: 600;
        color: #9197a3;
      }
      ::-moz-placeholder {
        font-size: 19px;
        font-weight: 600;
        color: #9197a3;
      }
      :-ms-input-placeholder {
        font-size: 19px;
        font-weight: 600;
        color: #9197a3;
      }
      :-moz-placeholder {
        font-size: 19px;
        font-weight: 600;
        color: #9197a3;
      }
    }
  }
}
.sidebar-user-dropdown {
  .show {
    position: relative !important;
    bottom: 70px !important;
    width: 300px;
    // padding: 15px;
  }
  .dropdown-toggle {
    color: black;
    &::after {
      display: none;
    }
  }
  .dropdown_item {
    padding-left: 15px;
    font-weight: 500 !important;
  }
}
